
.container {
  margin: 0 auto;
  max-width: 300px;
  padding-top:65px;
}

label {
  width: 100px;
  text-align: right;
}

.form-row {
  width:500px;
  margin-bottom: 10px;
}


input {
  height: 25px;
}

.normal-input {
    width:150px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

/* This can be placed here and it works well as the styling is preserved in the nested component */
/* To effectively isolate styling related to nested component, we use ::ng-deep inside the nested component */
/* So this way works but not a good way */
/* See the css of au-fa-input component*/
/*input {*/
/*  border: none;*/
/*  outline: none;*/
/*  height: 100%;*/
/*  margin: 1px 0;*/
/*  box-sizing: border-box;*/
/*}*/

